
.icono-salir {
    width: 44px;
    height: 135%;
    position: relative;
    right: 20%;
  }
  .boton-salir {
    --background: transparent;
    --box-shadow: none;
  }
  .actualizar{
    width: 50%;
}
.numeros{
    padding: 5%;
}
ion-button{
    width: 15%;
}
ion-footer{
  background-color: white;
}