<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button ></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Notas
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content *ngIf="ver">
  
      <ion-infinite-scroll>
          <ion-infinite-scroll-content>
            <ion-item *ngFor="let ac of cht" (click)="openChat(ac)">
                 <ion-label>{{ac.title}}</ion-label>
             
            </ion-item>
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <ion-fab-button (click)="openList()"><ion-icon name="add-circle" ></ion-icon></ion-fab-button>
</ion-content>
<ion-content *ngIf="!ver">
  <ion-card>
    <div class="boxes">
        <div class="box">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
        <div class="box">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
        <div class="box">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
        <div class="box">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div></ion-card>
   
 </ion-content> 